<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><a href="http://www.alfadyser.com/" style="color:#1E7EC8;"><img src="http://www.alfadyser.com/skin/frontend/default/default/images/logo_email.gif" alt="" border="0"/></a></p></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
<p style="border:1px solid #c21c24; padding:13px 18px; background:#F8F7F5; "><strong>Estimado/a, :NOMBRE_CLIENTE </strong>,<br/>
Su Usuario de acceso es : :USUARIO <br/>
Su nueva contrase&ntilde;a es: :PWD_CLIENTE</p>
<p>Puede cambiar su contrase&ntilde;a en cualquier momento, ingresando en <a href="http://www.alfadyser.com" style="color:#c21c24;">Mi cuenta</a>.<p>
<p>Gracias.<br/><strong style="color: #c21c24;"></strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<a></a><p class=""avgcert"" align="left" color="#000000">
