<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }		</style>
		<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
			<table border="0" cellpadding="0" cellspacing="0" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;" width="98%">
				<tbody>
					<tr>
						<td align="center" valign="top">
<!-- [ header starts here] -->							<table border="0" cellpadding="0" cellspacing="0" width="650">
								<tbody>
									<tr>
										<td valign="top">
											<p>
												<a href="http://www.alfadyser.com/" style="color:#1E7EC8;"><img alt="" border="0" src="http://www.alfadyser.com/skin/frontend/default/default/images/logo_email.gif" /></a></p>
										</td>
									</tr>
								</tbody>
							</table>
<!-- [ middle starts here] -->							<table border="0" cellpadding="0" cellspacing="0" width="650">
								<tbody>
									<tr>
										<td valign="top">
											<p style="border:1px solid #c21c24; padding:13px 18px; background:#F8F7F5; ">
												<strong>Estimado/a, :NOMBRE_CLIENTE </strong>,<br />
												Su Usuario de acceso es : :USUARIO<br />
												Su nueva contrase&ntilde;a es: :PWD_CLIENTE<br />
												Para Acceder a nuestra Web pulse sobre el siguiente enlace <a href="http://www.alfadyser.com" style="color:#c21c24;">Acceso a WEB</a>.</p>
											<p>
												&nbsp;</p>
											<p>
												&nbsp;</p>
											<p>
												Puede cambiar su contrase&ntilde;a en cualquier momento, ingresando en <a href="http://www.alfadyser.com" style="color:#c21c24;">Mi cuenta</a>.</p>
											<p>
												&nbsp;</p>
											<p>
												Gracias.</p>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
