        @xcolor_lin
          <td><a href="@ruta_fichero_tarifa" target="blank"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Descarga Fichero</font><a/></a>
          </td>
          <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a>@xfecha_tar</a></td>
          <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a>@xnom_tar</a></font></td>
          <td><a href="@ruta_fichero_tarifa" target="blank"><img src="http://www.alfadyser.com/media/pdf/icono_descargar.gif" border="0" align="absmiddle" alt="Descargar"></a></td>          
        </tr>		
