        @xcolor_lin
          <td><a href="@ruta_fichero_consumo" target="blank"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Art&iacuteculos Comprados</font><a/></a>
          </td>
          <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a>@xfecha</a></td>
          <td><a href="@ruta_fichero_consumo" target="blank"><img src="http://www.alfadyser.com/media/pdf/icono_descargar.gif" border="0" align="absmiddle" alt="Descargar"></a></td>          
        </tr>	