        @xcolor_lin
          <td><a href="@ruta_fichero_pdf" target="blank"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">@xnumdoc_id </font><a/></a>
          </td>
          <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a>@xfecha_doc</a></td>
          <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a>@ximporte</a></font></td>
          <td><a href="@ruta_fichero_pdf" target="blank"><img src="http://www.alfadyser.com/media/pdf/pdf.png" border="0" align="absmiddle" alt="Ver Documento"></a></td>          
        </tr>		
