        @xcolor_lin
          </td>
          <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a>@xfecha_ped</a></td>
          <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a>@xcliente_id</a></font></td>
		  <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a>@xnombre</a></font></td>
		  <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a>@ximporte_ped</a></font></td> 
          <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a>@tipo_ped</a></font></td>		  
        </tr>		
